html {
  font-size: 20px; 
  font-family: Open+Sans;
}
h1 {
  font-size: 40px;
  text-align: center;
}

p, li, h1 {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
html { background-color: #E6AA6F }
body {
  width: 900px;
  margin: 0 auto;
  background-color: #dbd7d0b9;
  padding: 0 50px 50px 50px;
  border: 5px solid rgba(105, 97, 97, 0.87);
}
h4 {
  margin: 0;
  padding: 20px 0;
  color: #0e6d1b;
  text-shadow: 1px 1px 1px black;
}
img {
  display: block;
  margin: 0 auto;
}